{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/location.css') }}">
</head>

<body>
    <a id="back-button" class="back-button" href="#">&#x2190; Back</a>
    <!-- Trip Name -->
    <h2 class="trip-name">{{ trip.title }}</h2>

    <!-- Location Section -->
    <div class="location-container">
        <h3 class="location-header">
            <img src="{{ url_for('static', filename='icons/location.svg') }}" alt="Check-in" class="checkin-icon">
            {{ province }}
        </h3>
        <div class="location-box">
            <div class="location-header-box">
                <span class="header-location">Time</span>
                <span class="header-time">Location</span>
            </div>
            <div class="location-list">
                {% for activity in trip.activities %}
                <div class="location-item">
                    <span class="location-name">{{ activity.split('(')[0]  }}</span>
                    <span class="location-time">{{ activity.split('(')[1]|replace(')', '') }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Add My Trip Button -->
    {% if request.args.get('saved') != 'true' %}
    <div class="add-trip-button">
        <button class="trip-btn">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> ADD MY TRIPS
            </span>
        </button>
    </div>
    {% endif %}
    <script type="application/json" id="trip-data">
        {{ trip | tojson | safe }}
    </script>    
    <script src="{{ url_for('static', filename='js/location.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const backButton = document.getElementById("back-button");
    
            // อ่านค่า `from` จาก query string
            const urlParams = new URLSearchParams(window.location.search);
            const fromPage = urlParams.get("from");
    
            // ตั้งค่าปุ่มย้อนกลับ
            if (fromPage === "trip") {
                backButton.href = "{{ url_for('trip') }}";
            } else if (fromPage === "mytrip") {
                backButton.href = "{{ url_for('mytrips') }}";
            } else {
                backButton.href = "{{ url_for('index') }}"; // ค่าเริ่มต้นกลับไปที่หน้าแรก
            }
        });
    </script>

</body>
{% endblock %}