<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="form-box login">
            <form action="{{ url_for('reset_password', token=token) }}" method="POST">
                <h1>Reset Password</h1>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <script>
                            alert("{{ messages[-1] }}");
                        </script>
                    {% endif %}
                {% endwith %}
                <div class="input-box">
                    <input type="password" name="password" placeholder="New Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-box">
                    <input type="password" name="confirm_password" placeholder="Confirm New Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <button type="submit" class="btn">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>