{% extends "base.html" %}
{% block content %}
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title>Weather App | CoingNepal</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
</head>
<body>
    <div class = "container">
        <!-- Search -->
        <div class = "search-section">
            <div class = "input-wrapper">
                <span class= "material-symbols-rounded">search</span>
                <input type = "search" placeholder="Enter a city name"
                class = "search-input">
            </div>
            <button class = "location-button">
                <span class = "material-symbols-rounded">my_location</span>
            </button>
        </div>

        <!-- No result message -->
        <div class = "no-results">
            <img src="{{ url_for('static', filename='icons/no-result.svg') }}" class = "weather-icon">
            <h3 class = "title"> Something went wrong!</h3>
            <p class = "message">We're unable to retrieve the weather details. Enure you've entered a valid city or try again later.</p>
        </div>

         <!-- Weather -->
        <div class = "wather-section">
            <!-- Current -->
            <div class = "current-weather">
                <img src="{{ url_for('static', filename='icons/clouds.svg') }}" class = "weather-icon">
                <h2 class = "temperature">00<span>°C</span></h2>
                <p class = "description">Weather description</p> 
            </div>
            
            <!-- Hourly weather -->
            <div class = "hourly-weather">
                <ul class = "weather-list"></ul>    
            </div>
        </div>
    </div>
    <div id="loading" class="loading-overlay" style="display: none;">
        <div class="container-weather">
            <div class="cloud front">
            <span class="left-front"></span>
            <span class="right-front"></span>
            </div>
            <span class="sun sunshine"></span>
            <span class="sun"></span>
            <div class="cloud back">
            <span class="left-back"></span>
            <span class="right-back"></span>
            </div>
        </div>
    </div>

    <script>
        const API_KEY = "{{ weather_api_key }}";
    </script>
    <script src="{{ url_for('static', filename='js/script-weather.js') }}"></script>
</body>
{% endblock %}